<div class="hourglass-container" [style.width.px]="size" [style.height.px]="size * 1.8">
  <!-- 上半部分 -->
  <div class="upper-half">
    <div *ngFor="let grain of upperSandArray"
         class="sand-grain"
         [attr.data-id]="grain"
         [ngStyle]="{ backgroundColor: color }">
    </div>
  </div>

  <!-- 中间颈部 -->
  <div class="neck"></div>

  <!-- 下半部分 -->
  <div class="lower-half">
    <div *ngFor="let grain of lowerSandArray"
         class="sand-grain fallen"
         [attr.data-id]="grain"
         [ngStyle]="{ backgroundColor: color }">
    </div>
  </div>
</div>