<div class="input-wrapper">
  <span class="prefix-icon" *ngIf="prefixIcon">{{ prefixIcon }}</span>
  <input
    type="{{ type }}"
    [(ngModel)]="value"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [readonly]="readonly"
    (input)="onInput($event)"
    (keydown)="onKeyDown($event)"
    class="input-field"
  />
  <span class="suffix-icon" *ngIf="showClear && value" (click)="clearInput()">
    ❌
  </span>
  <span class="suffix-icon" *ngIf="suffixIcon">{{ suffixIcon }}</span>
</div>

<!-- 图表容器 -->
<div class="chart-container" *ngIf="showChart && value && chartData">
  <div *ngIf="chartData.series[0].type === 'bar'" echarts [options]="chartData" style="height: 200px;"></div>
  <div *ngIf="chartData.series[0].type === 'pie'" echarts [options]="chartData" style="height: 200px;"></div>
</div>
